#card-Img{
    width: 285px;
    height: 250px;
    /* padding: 20px; */
    /* margin: 20px; */
   
    
}
#banner{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa5qzqT_LQ1cVRSBZsFO2pfMNQ3yU-BxF05w&s");
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;

}
#text{
    color: purple;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89,1);
}
@keyframes scale {
    100%{
        transform: scale(1);
    }
}
button{
    margin-left: 50px;
}
#deleted-price{
    text-decoration: line-through;
}
#right{
    top: 8px;
    right: 16px;
    font-size: 20px;
    border-radius: 20px;
}
#card-bodyalign{
    height: 100px;
}
